extends layout

mixin outRating(rating)
    - for (let i = 1; i <= rating; i++)
        b â­

block content
    header.bg-primary.text-white.text-center.py-5
        h1 Popular Restaurants at 
            span #{locationName}
            
    .row
        .col-12.col-md-6.mx-auto
            .input-group.m-3
                select.form-control.mx-1#locationInput(onchange="restcheck()" name="restaurant")
                    option(value="Narayanguda") Narayanguda
                    option(value="Himayath-Nagar") Himayath Nagar
                    option(value="Jubilee-Hills") Jubilee Hills
                    option(value="Banjara-Hills") Banjara Hills
                    option(value="Mehdipatnam") Mehdipatnam
                .btn-group.btn-group-toggle#vegCheckbox(data-toggle="buttons" onchange="resetRest()")
                    label.btn.btn-outline-dark.active(for="veg") ALL
                        input(type="radio" id="vegCheckbox1" onchange="resetRest()" name="veg" autocomplete="off" value="ALL" checked)
                    label.btn.btn-outline-success(for="veg" style="vertical-align: center;") VEG
                        input(type="radio" id="vegCheckbox2" onchange="resetRest()" name="veg" autocomplete="off" value="VEG")
                    label.btn.btn-outline-danger(for="veg" style="vertical-align: center;") NON VEG
                        input(type="radio" id="vegCheckbox3" onchange="resetRest()" name="veg" autocomplete="off" value="NON VEG")
        .col-12.card.rest-container
            .row
                each restaurant in restaurants
                    div(class=`${restaurant.class} ${restaurant.veg}`, onclick=`location.href='/restaurant-info/${restaurant._id}'`).col-4.card.rest-card
                        img.res-img.mx-auto(src=`${restaurant.imgSrc}`)
                        h4= restaurant.title
                            small= restaurant.veg
                        p.rating
                            +outRating(restaurant.rating)

    script.
        const queryString = window.location.search;
        const searchParams = new URLSearchParams(queryString);
        const param1 = searchParams.get('param1');
        document.addEventListener("DOMContentLoaded", resetRest());
        
        function resetRest() {
            document.getElementById('locationInput').value = "#{locationName}";
            let showVegOnly = document.querySelector('input[name="veg"]:checked').value;;
            let elementsToDisplay = Array.from(document.getElementsByClassName(param1));
            let elementsToNotDisplay = document.getElementsByClassName("restaurant");
            let elementsNonVeg = Array.from(document.getElementsByClassName("Non"));
            let elementsVeg = Array.from(document.getElementsByClassName("ðŸ¥¬"));
            if(showVegOnly === "VEG")
                elementsToDisplay = elementsToDisplay.filter(element => !elementsNonVeg.includes(element));
            if(showVegOnly === "NON VEG")
                elementsToDisplay = elementsToDisplay.filter(element => !elementsVeg.includes(element));
            for (var i = 0; i < elementsToNotDisplay.length; i++) {
                elementsToNotDisplay[i].style.display = "none";
            }
            for (var i = 0; i < elementsToDisplay.length; i++) {
                elementsToDisplay[i].style.display = "flex";
            }
        }
        
        function restcheck() {
            window.location.href = "/restaurant?param1=" + document.getElementById('locationInput').value;
        };
